{% extends "base.html" %}
{% load i18n %}

{% block content %}
<style>

.dashboard-container {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  border: 0;
  margin: 7px;
  background-color: #00bfff;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.orders-section, .search-section, .bag-section {
  width: 45%;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #9f9b9b;
}
h2{
  border: 0;
  margin: 7px;
  text-align: center;

}
</style>

<div class="dashboard-container">
  <div class="orders-section">
    <a href="/corders/"><h2>Orders</h2></a>
    <!-- display orders here -->
  </div>
  <div class="search-section">
    <a href="/cbag/"><h2>Bag</h2></a>
    <!-- display orders here -->
  </div>
  <div class="search-section">
    <a href="/clogin/"><h2>Search</h2></a>
  </div>
</div>
<script>
      // show popup function
      function showPopup(event) {
        var popup = event.currentTarget.nextElementSibling;
        popup.style.display = "block";
      }

      // close popup function
      var closeBtns = document.getElementsByClassName("close-btn");
      for (var i = 0; i < closeBtns.length; i++) {
        closeBtns[i].addEventListener("click", function() {
          this.parentElement.style.display = "none";
        });
      }
    </script>
{% block customer %}
{% endblock %}
{% endblock %}