{% extends "base.html" %}
{% load i18n %}

{% block content %}
<style>

.dashboard-container {
  display: flex;
  justify-content: center;
  border: 0;
  color: white;
  box-shadow: 0 0 20px rgba(159, 157, 157, 0.5);
  margin-top: 50px;
}

.orders-section, .search-section, .bag-section {
  width: 45%;

}
.search-section a div{
  height: auto;
  padding: 10px;
  text-align: center;
}


input[type="text"] {
  padding: 10px;
  font-size: 10px;
  border-radius: 5px;
  border: 1px solid #9f9b9b;
}
h2{
  border: 0;
  margin: 7px;
  text-align: center;

}
.search-section:hover{
  background-color: #dddddd;
}

input[type="submit"]:hover {
			background: #FFE866;
			box-shadow: 0 0 20px rgba(143, 133, 133, 0.5);
		}
.bg{

}
</style>
<div class="bg">
<div class="dashboard-container">
  <div class="search-section">
    <a href="/corders/"><div>Orders</div></a>
  </div>
  <div class="search-section">
    <a href="/cbag/"><div>Bag</div></a>
  </div>
  <div class="search-section">
    <a href="/clogin/"><div>Search</div></a>
  </div>
</div>
<script>
      // show popup function
      function showPopup(event) {
        var popup = event.currentTarget.nextElementSibling;
        popup.style.display = "block";
      }

      // close popup function
      var closeBtns = document.getElementsByClassName("close-btn");
      for (var i = 0; i < closeBtns.length; i++) {
        closeBtns[i].addEventListener("click", function() {
          this.parentElement.style.display = "none";
        });
      }
    </script>
{% block customer %}
{% endblock %}
  </div>
{% endblock %}